<!DOCTYPE HTML>

<html lang="en">
    <head>
      <meta charset="utf-8">
      <title>Your Camel</title>
      <meta name="description" content="Anything, delivered on demand.">
      <meta name="author" content="Your Camel">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
      <link rel="stylesheet" href="stylesheets/payment.css">
    </head>

    <body>

        <script src="https://checkout.stripe.com/checkout.js"></script>
        
        <script>
            var handler = StripeCheckout.configure({
              key: 'pk_test_Q6VYCrGf0Bjh89cUzy0cYUu9',
                image: 'favicons/android-chrome-72x72.png',
                locale: 'auto',
                token: function(token) {

                }
            });

            handler.open({
                name: 'Your Camel',
                description: 'Your Order',
                amount: 200
            });

            // Close Checkout on page navigation
            $(window).on('popstate', function() {
                handler.close();
            });
        </script>

    </body>
</html>
