div.hero_box{
	display: inline-block;
}

div.footer{
	position: relative;
	vertical-align: middle;
	display: inline-block;
	background: rgb(245, 245, 245);
	height: auto;
	width: 100%;
	text-align: center;
	bottom: -3px;
	z-index: 103;
	overflow: scroll;
}

span#copyright{
	position: relative;
	display: inline-block;
	vertical-align: middle;
	float: none;
	color: #777777;
	font-size: 36px;
	height: 30px;
	margin: 30px auto 30px auto;
}

ul{
	position: relative;
	display: block;
	float: none;
	margin: 45px 30px 10px 30px;
	height: auto;
	-webkit-padding-start: 0;
}

div.mobile_logo{
  position: absolute;
  height: 164px;
  width: 200px;
  background-image: url("images/camel_logo.png");
  background-size: 200px 164px;
  margin: -182px 0 0 -82px;
  left: 50%;
  z-index: 100;
}

li.link_popup{
	display: block;
	padding: 5px 20px;
	font-size: 42px;
	line-height: 70px;
	font-weight: 600px;
	color: #777777;
	cursor: pointer;
}

li:hover{
	color: #c76e06;
}

a{
	text-decoration: none;
	color: #777777;
}

a:hover{
	color: #c76e06;
}

h1{
	font-size: 54px !important;
}

h2{
	font-size: 72px !important;
}

h4{
	font-size: 42px !important;
}

.arrow{
	background-size: 112px 40px !important;
	height: 40px !important;
	width: 112px !important;
  -moz-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
  filter: FlipV;
  -ms-filter: "FlipV";
  margin-left: -84px;
}
